@using Proyecto05ciclo.Models
<!DOCTYPE html>
<html lang="en">
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/PluginsCSS")
</head>
<!--LAYOUT COMPARTIDO DE ADMINISTRADORES-->
<body class="sb-nav-fixed">
<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
    <!-- Navbar Brand-->
    <a class="navbar-brand ps-3" href="#">PERUTEC</a>
    <!-- Sidebar Toggle-->
    <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
    <ul class="navbar-nav ms-auto me-0 me-md-3 my-2 my-md-0">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="@Url.Action("CerrarSesion","Tienda")">Ver Perfil</a></li>
                <li><a class="dropdown-item" href="@Url.Action("CerrarSesion","Tienda")">Cerrar Sesion</a></li>
            </ul>
        </li>
    </ul>
</nav>
<!--SIDEBAR NAV-->
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                <div class="sb-sidenav-menu">
                    <div class="nav">
                        <div class="sb-sidenav-menu-heading">Resumen</div>
                        <a class="nav-link" href="@Url.Action("Index","Home")">
                            <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>Dashboard
                        </a>
                        <!--PERFIL DE USUARIO NO IMPLEMENTADO-->
                        <a class="nav-link" href="@Url.Action("Usuario","Home")">
                            <div class="sb-nav-link-icon"><i class="far fa-user"></i></div>Perfil de Usuario
                        </a>
                        <!---->
                        <div class="sb-sidenav-menu-heading">Gestion</div>
                        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseMantenedores" aria-expanded="false" aria-controls="collapseLayouts">
                            <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                            Mantenedores
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <!--collapse no implementado-->
                        <div class="collapse" id="collapsePerfil">
                            <nav class="sb-sidenav-menu-nested nav">
                                <a class="nav-link" href="@Url.Action("Categoria","Home")">Categorias</a>
                                <a class="nav-link" href="@Url.Action("Marca","Home")">Marcas</a>
                                <a class="nav-link" href="@Url.Action("Producto","Home")">Productos</a>
                            </nav>
                        </div>
                        <!---->
                        <div class="collapse" id="collapseMantenedores">
                            <nav class="sb-sidenav-menu-nested nav">
                                <a class="nav-link" href="@Url.Action("Categoria","Home")">Categorias</a>
                                <a class="nav-link" href="@Url.Action("Marca","Home")">Marcas</a>
                                <a class="nav-link" href="@Url.Action("Producto","Home")">Productos</a>
                            </nav>
                        </div>

                        <a class="nav-link" href="@Url.Action("Index","Tienda")" target="_blank">
                            <div class="sb-nav-link-icon"><i class="fas fa-store"></i></div>Ver Tienda
                        </a>
                        <a class="nav-link" href="@Url.Action("Index","Tienda")" target="_blank">
                            <div class="sb-nav-link-icon"><i class="fas fa-store"></i></div>Redes Sociales
                        </a>
                    </div>
                </div>
                <div class="sb-sidenav-footer">
                    <div class="small">Sesion iniciada como: </div>
                    @{
                        Usuario u = HttpContext.Current.Session["Usuario"] as Usuario;
                        @u.Correo
                    }
                </div>
            </nav>
        </div>
        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid px-4">
                    <!--AQUI VA EL HOME/INDEX.HTML-->
                    @RenderBody()
                </div>
            </main>
            <footer class="py-4 bg-light mt-auto">
                <div class="container-fluid px-4">
                    <div class="d-flex align-items-center justify-content-between small">
                        <div class="text-muted">Copyright &copy; Gerson Murguia 2021</div>
                        <div>
                            <!--todo: terminos y condiciones-->
                            <a href="#">Politica de Privacidad</a>
                            &middot;
                            <a href="#">Terminos &amp; Condiciones</a>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Content/PluginsJS")
   
    <script>
        window.addEventListener('DOMContentLoaded', event => {

            // Toggle the side navigation
            const sidebarToggle = document.body.querySelector('#sidebarToggle');
            if (sidebarToggle) {
                // Uncomment Below to persist sidebar toggle between refreshes
                // if (localStorage.getItem('sb|sidebar-toggle') === 'true') {
                //     document.body.classList.toggle('sb-sidenav-toggled');
                // }
                sidebarToggle.addEventListener('click', event => {
                    event.preventDefault();
                    document.body.classList.toggle('sb-sidenav-toggled');
                    localStorage.setItem('sb|sidebar-toggle', document.body.classList.contains('sb-sidenav-toggled'));
                });
            }

        });

    </script>
    @RenderSection("scripts", required: false)

</body>
</html>
