@model IEnumerable<Proyecto05ciclo.Models.Producto>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout_Tienda.cshtml";
}

<div class="row mt-5 bg-dark">
    <div class="container-fluid g-0">
        <img class="img-fluid" src="~/Imagenes/Login/bannergametec.png" />
    </div>
    <div class="py-2 tienda">
        <div class="container px-2 px-lg-2 mt-5">
            <div id="catalogo-productos" class="row gx-4 gx-lg-5 row-cols-1 row-cols-md-3 row-cols-xl-4 justify-content-center">
                @foreach (var item in Model)
                {
                    <div class="col mb-5">
                        <div class="card h-100">
                            <img class="card-img-top" src="data:image/@item.extension;base64,@item.base64" + />
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <h5 class="fw-bolder">@item.Nombre</h5>
                                    @item.Precio
                                </div>
                            </div>
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="d-grid d-md-grid gap-2 d-md-block align-items-center text-center">
                                    <button class="btn btn-outline-dark mt-auto btn-detalle" data-elemento="@Json.Encode(item)">
                                        Ver Detalle
                                    </button>
                                    @if (((Proyecto05ciclo.Models.Usuario)Session["Usuario"]).EsAdministrador == false)
                                    {
                                    <button class="btn btn-outline-dark  mt-auto btn-agregar-carrito" data-idproducto="@item.IdProducto">
                                        Agregar al carrito
                                    </button>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
            @if (ViewBag.nropags > 0)
            {
                <nav aria-label="Paginacion" class="">
                    <ul class="pagination justify-content-center">
                        <li class="page-item">@Html.ActionLink("|<", "Index", new { p = 0,idcategoria=ViewBag.categoria}, new { @class = "page-link text-dark" })</li>
                        <li class="page-item">@Html.ActionLink("<<", "Index", new { p = (ViewBag.p - 1 < 0 ? 0 : ViewBag.p - 1),idcategoria=ViewBag.categoria }, new { @class = "page-link text-dark" })</li>
                        @Html.Label(((int)ViewBag.p + 1).ToString(), new { @class = "page-link text-dark" })
                        <li class="page-item">@Html.ActionLink(">>", "Index", new { p = (ViewBag.p + 1 > ViewBag.nropags - 1 ? ViewBag.nropags - 1 : ViewBag.p + 1), idcategoria=ViewBag.categoria}, new { @class = "page-link text-dark" })</li>
                        <li class="page-item">@Html.ActionLink(">|", "Index", new { p = ViewBag.nropags - 1 ,idcategoria=ViewBag.categoria}, new { @class = "page-link text-dark" })</li>
                    </ul>
                </nav>
            }
        </div>
    </div>
</div>

@section scripts{
    <script>
        //pasar metodo al layout
        $(".btn-ver-categoria").click(function () {
            jQuery.ajax({
                url: '@Url.Action("ListarCategoria", "Tienda")',
                type: "GET",
                data: null,
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    $(".row-categoria").html("");
                    $(".row-categoria").LoadingOverlay("hide");
                    if (data.data != null) {
                        $("<li>").addClass("dropdown-item").append(
                            $("<a>").addClass("btn btn-outline-dark btn-categoria m-1 w-100").attr("href", "@Url.Action("Index","Tienda")").text("Mostrar Todo")
                        ).appendTo(".row-categoria");

                        $.each(data.data, function (i, item) {
                            $("<li>").addClass("dropdown-item").append(
                                $("<a>").addClass("btn btn-outline-dark btn-categoria m-1 w-100").attr("href", "@Url.Action("Index","Tienda")"+ "?idcategoria="+item.IdCategoria).text(item.Descripcion)
                            ).appendTo(".row-categoria");
                        });
                    }
                },
                error: function (error) {
                    console.log(error);
                },
                beforeSend: function () {

                    $(".row-categoria").LoadingOverlay("show");
                },
            });
        });

        $(document).ready(function () {
            listarProductos(0);
        })

        $(document).on('click', '.btn-detalle', function (event) {
            var json = $(this).data("elemento")
            window.location.href = "@Url.Action("Producto", "Tienda")" + "?idproducto=" + json.IdProducto;
        });

        $(document).on('click', '.btn-categoria', function (event) {
            $('#exampleModal').modal('hide');
        });
    </script>
}
