@model Proyecto05ciclo.Models.Usuario

@{
    ViewBag.Title = "Perfil de Usuario";
    Layout = "~/Views/Shared/_Layout_Tienda.cshtml";
}

<div class="ms-4 row mt-4 pt-5" style="margin-bottom: 100px;">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-row col-md-3">
                <h4>Usuario</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group col-md-6">
                    @Html.HiddenFor(model => model.IdUsuario, htmlAttributes: new {@class="form-control" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Nombres, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Nombres, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Nombres, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Apellidos, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Apellidos, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Apellidos, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Correo, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Correo, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Correo, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="btn-group col-md-10 mt-2">
                        <input type="submit" value="Guardar Cambios" name="Usuario" class="btn btn-outline-dark" />
                        @Html.ActionLink("Regresar","Index",null, htmlAttributes: new { @class = "btn btn-dark" })
                    </div>
                </div>
            </div>
        }
</div>
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
